<launch>

  <!-- Turtlesim Node-->
  <node pkg="turtlesim" type="turtlesim_node" name="sim"/>

  <node pkg="turtlesim" type="turtle_teleop_key" name="teleop" launch-prefix="xterm -e"/>
  <!-- Axes -->
  <param name="scale_linear" value="2" type="double"/>
  <param name="scale_angular" value="2" type="double"/>


  <node 
    pkg="beginner_tutorials" 
    type="talker_broadcaster" 
    args="/turtle1" 
    name="turtle1_tf_broadcaster" />
  
  <node 
    pkg="beginner_tutorials" 
    type="talker_broadcaster"
    args="/turtle2" 
    name="turtle2_tf_broadcaster" />

  <node 
    pkg="beginner_tutorials" 
    type="turtle_tf_listener"
    name="talker_listener" />      



  <node 
    pkg="beginner_tutorials"
    name="talker" 
    type="talker"
    args="10" />

  <node
    pkg="beginner_tutorials"
    name="listener"
    type="listener"
    launch-prefix="xterm -e" />

  <node
    pkg="rosbag"
    name="rosbag_all"
    type="record"
    args="record --all --output-name=$(find beginner_tutorials)/branch_results/allTopics.bag" />

</launch>



